@import "@fontsource/newsreader";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --default-font-family: 'Newsreader Variable', serif;

    --rem-per-in: 5rem;

    --page-height: calc(var(--rem-per-in)*11);
    --page-width: calc(var(--rem-per-in)*8.5);
    --page-margin: calc(var(--rem-per-in)*1);
    --page-top-margin: var(--page-margin);
    --page-bottom-margin: var(--page-margin);
    --page-left-margin: var(--page-margin);
    --page-right-margin: var(--page-margin);

    --page-height-print: 11in;
    --page-width-print: 8.5in;
    --page-margin-print: 1in;
    --page-top-margin-print: var(--page-margin-print);
    --page-bottom-margin-print: var(--page-margin-print);
    --page-left-margin-print: var(--page-margin-print);
    --page-right-margin-print: var(--page-margin-print);
}

@media print {
    @page {
        size: var(--page-width-print) var(--page-height-print);
        margin-top: var(--page-top-margin-print);
        margin-bottom: var(--page-bottom-margin-print);
        margin-left: var(--page-left-margin-print);
        margin-right: var(--page-right-margin-print);
    }

    html {
        background-color: white;
    }

    .page-break {
        break-after: page;
    }

    .page-width {
        width: var(--page-width-print);
    }

    .page-height {
        height: var(--page-height-print);
    }

    .header {
        height: var(--page-top-margin-print);
        width: 100%;
    }

    .footer {
        height: var(--page-bottom-margin-print);
        width: 100%;
    }

    .page-content {
        width: 100%;
        padding-left: var(--page-left-margin-print);
        padding-right: var(--page-right-margin-print);
    }
}


@layer components {
    .page-width {
        width: var(--page-width);
    }

    .page-height {
        height: var(--page-height);
    }

    .header {
        height: var(--page-top-margin);
        width: 100%;
    }

    .footer {
        height: var(--page-bottom-margin);
        width: 100%;
    }

    .page-content {
        width: 100%;
        padding-left: var(--page-left-margin);
        padding-right: var(--page-right-margin);
    }
}